<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Equipo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/Logo.png" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="equipo.html">Equipo</a></li>
                            <li class="nav-item"><a class="nav-link" href="productos.html">Productos</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">EQUIPO</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">REYNA CARHUANINA</h2>
                                            <br>
                                            <p>Como directora de Servicio al Cuidado de Mascotas, la apasionada líder combina su profundo amor por los animales con habilidades organizativas excepcionales. Con una sólida formación en veterinaria y gestión, ha desarrollado programas innovadores que aseguran el bienestar óptimo de las mascotas. Su dedicación y enfoque centrado en el cliente han elevado la calidad de nuestros servicios, estableciendo un estándar ejemplar en el cuidado de mascotas.</p>
                                        </div>
                                        <img src="../assets/reyna.jpg" class="img-fluid" width="320px" height="330px">
                                    </div>
                                </div>
                            </div>                            
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">LETONA NAYDA</h2>
                                            <br>
                                            <p>Como líder de Ventas, nuestra directora fusiona su pasión por los productos con una destacada habilidad organizativa. Con una sólida formación en ventas y gestión, ha impulsado estrategias innovadoras que han elevado el rendimiento del equipo. Su compromiso y enfoque centrado en el cliente han establecido un estándar ejemplar en el servicio, marcando un hito en el éxito comercial y fortaleciendo nuestra posición en el mercado.</p>
                                        </div>
                                        <img src="../assets/nayda.jpg" class="img-fluid" width="310px" height="310px"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">XIMENA INFANTE</h2>
                                            <br>
                                            <p>Como destacada asesora de ventas, nuestra líder fusiona una pasión innata por la satisfacción del cliente con una experiencia sólida en ventas y servicio al cliente. Su enfoque estratégico ha impulsado el desarrollo de programas innovadores, elevando el estándar en la industria. Con un profundo compromiso y habilidades excepcionales, nuestra asesora de ventas lidera con éxito, asegurando la excelencia en el servicio y estableciendo un nuevo paradigma en el campo de las ventas.</p>
                                        </div>
                                        <img src="../assets/ximena.jpg" class="img-fluid" width="310px" height="300px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">ANDREITA MONTERO</h2>
                                            <br>
                                            <p>Como Supervisora de Operaciones, nuestra líder comprometida fusiona una profunda experiencia en gestión con una pasión innata por la eficiencia operativa. Con una sólida formación en logística y supervisión, ha implementado programas vanguardistas que optimizan los procesos. Su dedicación y enfoque centrado en el rendimiento han elevado el estándar en nuestras operaciones, estableciendo un modelo ejemplar para la excelencia operativa.</p>
                                        </div>
                                        <img img src="../assets/andrea.png" class="img-fluid" width="310px" height="500px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">help us help you, animaki</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://wa.me/message/5V6VUPRPZWH7N1">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
