<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Personal - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/Logo.png" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="equipo.html">Equipo</a></li>
                        <li class="nav-item"><a class="nav-link" href="productos.html">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">PAQUETES</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">SERVICIOS INDIVIDUALES</h2>
                        </div>
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                        <img src="../assets/individual.png" width="140%" height="100%" style="margin-left: -20%;" class="rounded">
                                    </div>                                                                        
                                    <div class="col-lg-8">
                                        <div>
                                            *Atención y cuidado diario
                                            <hr>
                                            *Entrenamiento por sesiones
                                            <hr>
                                            *Baños
                                            <hr>
                                            *Maquillaje
                                            <hr>
                                            *Administración de medicamentos
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-secondary fw-bolder mb-4">PAQUETE BASICO</h2>
                        </div>
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                        <img src="../assets/basico.png" width="120%" height="100%"
                                            style="margin-left: -10%;" class="rounded">
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            *Visita diaria por parte de un cuidador
                                            profesional.
                                            <hr>
                                            *Caminar con la mascota
                                            Alimentarla
                                            <hr>
                                            *Proporcionar agua y jugar
                                            <hr>
                                            *Baño , cepillado, corte .
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-tercy fw-bolder mb-4">PAQUETE INTERMEDIO</h2>
                        </div>
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                        <img src="../assets/intermedio.png" width="140%" height="100%"
                                            style="margin-left: -20%;" class="rounded">
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            *Un seguimiento más detallado de la conducta
                                            y salud de la mascota.                                            
                                            <hr>
                                            *Tratamientos, baños y maquillaje a la
                                            mascota.
                                            <hr>
                                            *La realización de ejercicios especializados o
                                            acondicionamiento físico, en caso de que la
                                            mascota lo necesite.
                                            <hr>
                                            *Servicios de vigilancia y monitoreo, como una
                                            cámara de seguridad conectada en tiempo real.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-cuarty fw-bolder mb-4">PAQUETE PREMIUM</h2>
                        </div>
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                        <img src="../assets/premium.png" width="140%" height="100%"
                                            style="margin-left: -20%;" class="rounded">
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            *Servicios adicionales como juegos y
                                            actividades especiales para la mascota
                                            <hr>
                                            *Salidas para socializar, visitas a parques o
                                            recreación en un jardín temático.                                            
                                            <hr>
                                            *Servicios de spa, como masajes y
                                            tratamientos de peluquería.                                            
                                            <hr>
                                            *Monitoreo a través de una cámara para el
                                            seguimiento de en tiempo real.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Bootstrap core JS-->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
                    <!-- Core theme JS-->
                    <script src="js/scripts.js"></script>
</body>

</html>